[user]
	name = Clement Idelon
	email = clement.idelon@lengow.com
	signingkey = "{{ index (index (keeper .kp.git).fields 0).value 0 }}"
[core]
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
	gpgsign = true
[trace2]
	eventTarget = "af_unix:stream:{{ .chezmoi.homeDir }}/.git-ai/internal/daemon/trace2.sock"
	eventNesting = 10
